$primary-darker: #116285;
$primary-dark: #0B7C9C;
$primary: #01B6D1;
$primary-light: #66D2E3;
$primary-lighter: #CAF0F5;

.bottom0 {
    bottom: 0 !important;
}

.columns {
    margin: 0 !important;
  }

@import '~bulma/bulma.sass';

body {
    user-select: none;
}
.content {
    padding: 5.25rem 2rem;
}

#annotatable {
    z-index: 2;
    user-select: text;
}

#annotations {
    color: red;
    user-select: none;
    position: absolute;
    top: 0;
}


span {
    line-height: 1.5em;
    background-position: 0 100%;
}

#bottom-menu {
    display: flex;
    z-index: 5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary;
    color: $white;
    height: 0;
    transition: height 350ms ease-in-out;
    .bottom-btn {
        text-align: center;
        text-transform: uppercase;
        p {
            font-size: 0.7em;
        }
    }
    .bottom-btn.active {
        background-color: $primary-darker;
    }
    .columns {
        width: 100%;
    }
}

#action-menu {
    display: flex;
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-darker;
    color: $white;
    height: 0;
    overflow: hidden;
    .content {
        padding: 0.5em;
    }
    .columns {
        width: 100%;
    }
    #mark-type{
        p {
            padding: 0.3em 0 0.6em 0;
            margin:0;
            text-transform: uppercase;
            font-size: 0.75em;
            .type-option {
                display: inline-block;
                background-color: $white;
                color: #000;
                padding: 5px 8px;
                border-radius: 3px;
                border: 2px solid $white;
                .highlight {background-color: rgba(255,0,0,0.5); padding: 0 4px;}
                .underline {border-bottom: 1px solid red;}
            }
            
        }
        p.active {
            .type-option {
                border-color: $primary;
            }
        }
    }
    #mark-color{
        .column {
            padding: 0.25em;
        }
        .color-option {
            width: 100%;
            background-color: red;
            border-radius: 8px;
            border: 2px solid $white;
        }
        .color-option:before{
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
        }
        div.active{
            .color-option {
                border-color: $primary;
            }
        }
    }
}